*{
    padding: 0%;
    margin: 0%;
}
body{
    background-size: cover;
}
.navbar{
    text-decoration: none;
}
.navbar-1{
    border: 1px solid black;
    color: white;
    margin: 25px;
    padding: 7px;
    background-color: rgb(65, 65, 114);
    opacity: 1;
}
.navbar-1 :hover{
    opacity: 0.4;
}
.nav-link{
    border: 1px solid black;
    color: white;
    background-color: rgb(65, 65, 114);
    opacity: 1;
}
.nav-link:hover{
    opacity: 0.4;
}