*{
    padding: 0%;
    margin: 0%;
}
body{
    background-size: cover;
}
h1{
    font-family: cursive;
}
.form{
    border: 1px solid rgb(177, 169, 169);
    background-color: whitesmoke;
    display: inline-block;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top:180px;
    margin-left: 550px; 
}
.form-btn{
    border: 2px solid  rgb(207, 185, 185);
    border-radius: 5px;
    opacity: 1;
    background-color: blue;
    color: white;
    width: 200px;
}
.btn:hover{
    opacity:0.2;
}
a{
    background-color:blue;
}
.login{
    background-color: whitesmoke;
    display: inline-block; 
}